<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ExecutionTimeFunctionTestSuit" verbose="1">
    <test name="TimeFunctionTest">
        <classes>
            <class name="org.wso2.extension.siddhi.execution.graph.LargestConnectedComponentTestCase" />
            <class name="org.wso2.extension.siddhi.execution.graph.MaximumCliqueTestCase" />
        </classes>
    </test>
</suite>

